html {
    font-family: "Lato", Verdana, sans-serif;
    font-size: 10px;
  }
  
  html,
  body,
  h1,
  h2,
  h3,
  p,
  ul,
  li {
    margin: 0;
    padding: 0;
  }
  
  body {
    color: #f2f2f2;
  }
  
  .wrapper {
    max-width: 940px;
    margin: 0 auto;
  }
  
  .header {
    padding: 29.5px 0;
    background-color: #2d303a;
    color: #ffffff;
    text-transform: uppercase;
    height: 30px;
    border-bottom: 6px solid #323746;
  }
  
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .logo {
    font-size: 2.5rem;
    font-weight: 700;
    display: inline-block;
    letter-spacing: -0.06rem;
  }
  
  .asterisk {
    color: #f06c64;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  .header__navigation {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 700;
  }
  
  .home {
    color: #f06c64;
  }
  
  .home:hover {
    color: #eb5055;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  
  .navigation li {
    margin-left: 28.4px;
    color: #494e62;
  }
  
  .navigation li a:hover {
    color: #eb5055;
    transition: 0.4s;
  }
  
  .navigation li a {
    color: #ffffff;
  }
  
  .slider {
    height: 594px;
    background-color: #f06c64;
    border-bottom: 5px solid #ea676b;
  }
  
  .slider__block {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  
  .arrows {
    margin: 281px 0 auto 0;
  }
  
  .arrows:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s;
  }
  
  .slider-phones {
    display: flex;
    position: relative;
    width: 797px;
    height: 483px;
    margin: 53px 55px 58px 54px;
  }
  
  .slider-phones__vertical {
    width: 30%;
    position: relative;
  }
  
  .slider-phones__horizontal {
    width: 70%;
    position: relative;
  }
  
  .screen1 {
    position: absolute;
    top: 65px;
    left: 15px;
    width: 188px;
    height: 333px;
    background-image: url(assets/screen-yellow.jpg);
    background-size: 307%;
    background-position: -14px -132px;
  }
  
  .screen2 {
    position: absolute;
    top: 134px;
    right: 91px;
    width: 333px;
    height: 188px;
    background-image: url(assets/screen-blue.jpg);
    background-size: 172%;
    background-position: center 456px;
  }
  
  .shadow,
  .phone-base {
    position: absolute;
  }
  
  .slider-phones__horizontal .phone-base {
    transform: rotate(90deg);
    top: -2.5px;
    right: 147px;
  }
  
  .slider-phones__horizontal .shadow {
    top: -2.5px;
    right: 123px;
    transform: scaleY(-1) rotate(90deg);
  }
  
  .services {
    height: 496px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
  }
  
  
  h2 {
    color: #666d89;
    font-size: 30px;
    font-weight: 900;
    
  }

  .services__title{
    padding-top: 61px;
    padding-bottom: 11px;
    letter-spacing: -0.02rem;
  }
  
  .services__description {
    color: #767e9e;
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    padding-top: 7px;
    padding-bottom: 47px;
    line-height: 30px;
  }
  
  .services__layout {
    display: flex;
    justify-content: space-between;
    padding-bottom: 37px;
  }
  
  h3 {
    color: #666d89;
    font-size: 18px;
    font-weight: 900;
    line-height: 17.86px;
    letter-spacing: -0.02rem;
  }
  
  .service__content {
    height: 86px;
    width: 220px;
    overflow: hidden;
    margin-left: 21px;
  }
  
  .service__content-text {
    color: #767e9e;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    padding-top: 9px;
    text-align: justify;
    letter-spacing: -0.02rem;
  }
  
  .service {
    display: flex;
  }

 /* Singolo2:  */

  .portfolio {
    height: 863px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
  }
  
  
  .portfolio-title, .about-us__title{
    padding-top: 69px;
    padding-bottom: 20px;
    letter-spacing: -0.02rem;
    line-height: 17.86px;
  }
  
  .portfolio-description {
    color: #767e9e;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    padding-top: 7px;
  }
  
  .buttons {
    height: 22px;
    display: flex;
  
    margin: 10px 0;
    color: #767e9e;
    font-size: 12px;
    font-weight: 400;
    line-height: 8.56px;
  }
  
  .buttons__item {
    padding: 6px;
    margin-right: 10px;
    border: 1px solid #666d89;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .buttons__item:hover {
    border: 1px solid #c5c5c5;
    color: #dedede;
    transition: 0.3s;
  }
  
  .block-images {
    margin-top: 20px;
  }
  
  .block-images ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
  
  .block-images ul li:not(:nth-child(4n)) {
    margin-right: 20px;
  }
  
  .block-images ul li {
    margin-bottom: 18px;
  }
  
  .block-images ul li:nth-child(1n + 13) {
    display: none;
  }
  
  .about-us {
    height: 722px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
  }
  
  .about-us_description {
    color: #767e9e;
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    padding-top: 7px;
    padding-bottom: 45px;
    line-height: 30px;
  }
  
  .heroes-layout {
    display: flex;
    justify-content: space-between;
  }
  
  .hero {
    max-width: 300px;
  }
  
  
  .hero__name {
    padding-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .hero__description {
    color: #767e9e;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    padding-top: 9px;
    padding-bottom: 26px;
    text-align: justify;
    letter-spacing: -0.01rem;
  }
  
  .hero__links {
    width: 152px;
    display: flex;
    justify-content: space-between;
  }
  
  .link:hover {
    cursor: pointer;
  }

  /* Singolo3: */

  .quote {
    background-color: #f06c64;
    height: 648px;
    border-bottom: 6px solid #ea676b;
  }
  
  
  .quote__title {
    padding-top: 69px;
    padding-bottom: 20px;
    line-height: 17.86px;
  }
  
  .quote__description {
    color: #f0d8d9;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    padding-top: 7px;
    text-align: justify;
  }
  
  .quote__connection {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    padding-top: 20px;
  }
  
  .form {
    position: relative;
    width: 619px;
  }
  
  input {
    display: block;
  
    background-color: #d6564f;
    color: #f48c8f;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    width: 604px;
    height: 36px;
    margin-bottom: 16px;
    border: none;
    border-radius: 7px;
    padding-left: 15px;
  }
  
  textarea {
    font-family: Lato;
    background-color: #d6564f;
    color: #f48c8f;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    width: 604px;
    border: none;
    border-radius: 7px;
    padding: 7px 0 8px 15px;
  }
  
  .contact-info {
    max-width: 301px;
    color: #f0d8d9;
  }
  
  .contact-info h3 {
    font-size: 18px;
    font-weight: 900;
    line-height: 17.86px;
    padding: 1px 0 0 1px;
  }
  
  .contact-info__description {
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 1px;
    text-align: justify;
    letter-spacing: -0.01rem;
  }
  
  .contact-info__link-item {
    margin-left: 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    padding-top: 9px;
    padding-bottom: 26px;
  }
  
  #location {
    list-style-image: url(assets/location.png);
    padding-left: 7px;
    margin-left: -3px;
  }
  #phone {
    list-style-image: url(assets/phone.png);
    padding-left: 5px;
    padding-top: 1px;
    margin-left: -1px;
  }
  #email {
    list-style-image: url(assets/mail.png);
    padding-left: 4px;
    padding-top: 1px;
  }
  
  .footer {
    height: 76px;
    background-color: #2d303a;
  }
  
  .wrapper-footer {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-top: 20px;
  }
  
  .footer span {
    color: #666d89;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 33px;
  }
  
  .dot {
    color: #494e62;
  }
  
  .footer__links {
    width: 152px;
    display: flex;
    justify-content: space-between;
  }
  